<div class="todos">

  <div class="header">
    <span class="header__text">TODO list</span>
    <button class="header__delete-btn" (click)="deleteSelectedTodos()"></button>
  </div>

  <div class="type-todo" [hidden]="newTodo">
    Type in a new todo...
  </div>

  <div class="typing-todo" [hidden]="!newTodo">
    Typing: {{ newTodo }}
  </div>

  <ul class="list">
    <li class="todo-list" *ngFor="let todo of todos; let i=index">

      <label class="todo-list__check">
        <input type="checkbox" class="todo-list__checkbox" [(ngModel)]="todo.completed" />
        <span class="todo-list__content" [ngClass]="{'checked': todo.completed}">{{ todo.newTodo }}</span>
        <span (click)="deleteTodo(i)" class="todo-list__delete-icon">-</span>
      </label>

    </li>
  </ul>



  <div>
    <form class="add-task" (submit)="addTodo($event)">
      <button class="add-task__btn" type="submit" [disabled]="newTodo===''">+</button>
      <input type="text" class="add-task__todo" [(ngModel)]="newTodo" (keyup.enter)="newTodo=''" name="newTodo">
    </form>
  </div>

</div>